.profile_containte {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 170vh;
}

/*------------------------------ profile_user -------------------------*/
.profile_content {
  height: max-content;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.profile_content .profile_user {
  width: 30%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_user .profile_img {
  height: 100%;
  border-radius: 50%;
}

.profile_content .profile_text {
  width: 70%;
  height: 20vh;
}

.profile_text .profile_element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.profile_text .profile_element p,
.profile_text .profile_element button {
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.profile_text .profile_notif {
  display: flex;
  margin-bottom: 10px;

}
.profile_text .profile_notif p{
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.profile_text .profile_plus p{
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}


/*------------------------------ profile_story -------------------------*/
.profile_containte .profile_story {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}

.profile_story .img_story img {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: solid 4px rgb(16, 80, 129);
}

.profile_story .img_story {
  padding-left: 40px;
}

/*------------------------------ profile_status -------------------------*/
.profile_containte .profile_status {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_status {
  cursor: pointer;
}

.profile_status .profile_publication {
  margin-right: 20px;
  padding-top: 45px;
}

.profile_status .profile_reel {
  margin-left: 20px;
  padding-top: 45px;
}

.profile_status .profile_identifie {
  margin-left: 20px;
  padding-top: 45px;
}

/*------------------------------ profile_card -------------------------*/
.profile_containte .profile_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3px;
  width: 100%;
  height: max-content;
}

.profile_card {
  display: flex;
  background-color: rgb(6, 6, 6);
  width: 33%;
  height: 30vh;
  padding-top: 5px;
}

.show {
  border-top: 3px solid #fefcfc;
}

/*------------------------------ profile_footer -------------------------*/
.profile_containte .profile_footer {
  margin-top: 15px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_footer .containt_footer {
}
